*{box-sizing: border-box;}
html{position: relative;}

#temp-preview{
    position: relative;
}
.temp{
    position: absolute;
    left: 137px;
    top: 85px;
    font-size: 34px;
    font-weight: 900;
}
.temp::after{
    content: "C";
    font-size: 20px;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0%;
}
#city-name-container{
    position: relative;
}

.cityname{
    display: inline-block;
} 

#weather-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    max-width: 300px;
    position: relative;
    background: rgb(131,131,143);
background: linear-gradient(90deg, rgba(131,131,143,0.7539390756302521) 0%, rgba(0,0,0,0.8743872549019608) 100%);
   
}

ul{
    list-style-type: none;
    font-size: 25px;
}


.metric-btn{
    position: relative;
    /* left:10%;
    top: 15px; */
}

/* #forecast-card-deck{
    position: absolute;
    bottom: 8%;
    width: 100%;
    display: flex;
    justify-content: space-around;
} */

/* .card{
    min-width: 150px;
    max-width: 250px;
    width: 5%;
    border: 2px solid black;
    text-align: center;
  
} */

.clear-sky-day-bg{
    background-image: url("images/clear-sky-day.jpg");
    }
 .clear-sky-nite-bg{
     background-image: url("images/clear-sky-night.jpg");
 }   

 .clouds-day-bg{
     background-image: url("images/few-clouds-day.jpg");

 }

 .clouds-nite-bg{
     background-image: url("images/few-clouds-night.jpg");
 }

 .rain-bg{
     background-image: url("images/rain-night-and-day.jpg");
 }

 .winter-wonderland-bg{
     background-image: url("images/snow.jpg");
 }