*{box-sizing: border-box;}
html{position: relative;}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0%;
}

#weather-card{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 3px solid red;

    padding: 15px;
    max-width: 300px;
    position: absolute;
    left: 10%;
    top: 12%;
   
}

.metric{
    position: absolute;
    right:5%;
    top: 10px;
}

#forecast-card-deck{
    position: absolute;
    bottom: 8%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card{
    min-width: 150px;
    max-width: 250px;
    width: 5%;
    border: 2px solid black;
    text-align: center;
  
}